.header {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
    align-items: center;
    padding: 1%;
    position: relative;
    width: 100%;
}

.filter {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    padding-left: 9em;
}

.create-article {
    grid-column: 2 / 3;
    justify-self: end;
    padding-right: 2em;
}

.filter input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.filter input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.create-article a {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.create-article a:hover {
    background-color: #218838;
}


.articles {
    width: 100%;
    min-width: 10em;
    max-width: 10em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.article {
    width: 100%;
    min-width: 40em;
    max-width: 40em;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.article_lien {
    text-decoration: none;
    color: inherit;
}

.article:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.article h2 {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1%;
}

.article h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1.5%;
}

.article p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1%;
}

.container {
    background-color: #f4f4f4;
}